@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background-color: #34495E;
}

h1 {
    text-align: center;
    margin: 0.2rem;
    font-size: 1.5rem;
}

#center {
    width: fit-content;
}

#main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.departure {
    background-color: #283747;
    display: flex;
    align-items: center;
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.line {
    display: inline-block;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
    font-weight: 700;
    background-color: red;
}

.time {
    margin-left: 0.4rem;
}

#link {
    background-color: #365f82;
    display: flex;
    width: fit-content;
    margin: auto;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

img#loading {
    margin-top: 0.3rem;
    width: 2rem;
}

.bottom, .bottom * {
    max-width: 70ch;
    font-size: 0.5rem;
    margin: auto;
    text-align: center;
    margin-top: 0.5rem;
}

.bottom a {
    color: #69bbe4;
}